h1 {
    color: #db1727;
    font-family: sans-serif;
}
h2 {
    font-family: cursive;
    color:#314ece;
}
a {
    text-decoration: none;
}
a:link {
    color:white;
}
a:visited {
    color:black;
}
body {
    background-color: #ce730a;
    margin: 0px;
}

li {
    color:#166802;
    font-weight: lighter;
    font-family: fantasy;
}

img {
    border-radius: 10px;
}

.header {
    background-color:#1ecc52;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    display: flex;
    position: relative;
}
.item p {
    position: absolute;
    top: 40%;
    left: 82%;
    color: red;
    opacity: 0;
}
.item:hover img {
    transform: scale(1.2);
    opacity: 0.5;
}

.item:hover p {
    opacity: 1;
}

/* {
    border: solid;
}*/